.BOX{
      height: 30rem;
      width: 20rem;
      border-radius: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.BOX1{
width: auto;
height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background-color: white;flex-direction: column;
}



.parentRoot{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 100px;
    flex-wrap: wrap;
 
}

.PR1{
    height: 9rem;
    border: 1px solid black;
    width: 12rem;
   border-radius: 10px;
    margin-bottom: 20px;
}

.PR1 img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.BOX1 table,body,tr,th,td{
    border: none;
    padding: 0px;
}

.BBB button{
    height: 2rem;
    width: 5rem;
    background-color:rgb(219, 56, 84);
    border: none;
}